# bloop and metals
.bloop
.bsp
.metals
project/metals.sbt

# vs code
.vscode

# sbt
project/project/
project/target/
target/


# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store


# general
*.class